.Three-Dee{
font-family: Garamond, serif;
line-height: 1em;
color: #d10808;
font-weight:bold;
font-style:italic;
font-size: 40px;
text-shadow:0px 0px 0 rgb(185,-16,-16),-1px 0px 0 rgb(170,-31,-31),-2px 0px 0 rgb(156,-45,-45),-3px 0px 0 rgb(141,-60,-60),-4px 0px 0 rgb(127,-74,-74),-5px 0px 0 rgb(112,-89,-89), -6px 0px 0 rgb(98,-103,-103),-7px 0px 6px rgba(0,0,0,0.6),-7px 0px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
float:right;
margin-right:10px;
}

