body{background-color:rgba(255,160,50,0.5)}
h1 {color:000080; 
	text-align:center}
#redTable {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 18px;
	color:white;
	width: 300px;
	text-align: center;
	border-collapse: collapse;
	margin: 20px;
}
a{
	color:red;
}
#gradient
		{
			height:100%;
			background: -webkit-linear-gradient(left, blue , red); /* For Safari */
			background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
			background: linear-gradient(right, red , blue); /* Standard syntax (must be last) */
		}