#gradient
{
	height:100%;
	background: -webkit-linear-gradient(left, red , blue); /* For Safari */
	background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(right, red , blue); /* Standard syntax (must be last) */
}
h1 {color:000080; position:fixed; left:225; top:0}
.image{
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	border-radius:25px;
	}
.text{
	left: 0;
	position: absolute;
	text-align: center;
	top:30%;
	width: 100%;
	}
.main{
	margin-left:auto;
	margin-right:auto;
	margin-top:6%;
	background-color:white;
	width: 50%;
	height: 90%;
	border-style:outset;
	border-left-color: blue;
	border-right-color:red;
	border-top-color:red;
	border-bottom-color:blue;
	border-radius: 25px;
}
#maintran.normal
{
	opacity: 1.0;
}

#maintran.faded
{
	opacity: 0.0;
}

#maintran
{
	/* Firefox */
    -moz-transition-property: opacity;
    -moz-transition-duration: 3s;
    /* WebKit */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 3s;
    /* Standard */
    transition-property: opacity;
    transition-duration: 3s;
}